body{
    top:0;
    margin:0;
    padding:0;
  }
  
  
  .toggle{
    position:fixed;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    top:4px;
    left:20px;
    right:0;
    bottom:0;
    z-index:99;
    text-decoration:none;
    color: white;
    font-size: 30px;
    width: 50px;
    height: 50px;
  }
  .sidebar{
    position:fixed;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    z-index:99;
    top:0px;
    right:0;
    left:-190px;
    bottom:0px;
    width:188px;
    padding:30px;
    background:rgb(38 39 43 / 83%);   
  }
  
  .sidebar li{
    color: white;
    list-style-type:none;
    font-family:"Lato", Sans-serif;
    font-size: 16px;
    margin-bottom:16px;
    -webkit-font-smoothing:antialised;
    cursor: pointer;
  }
  
  .sidebar li:hover{
    color: white;
  }
  
  #sidebartoggler{
    display:none;
  }
  
  #sidebartoggler:checked + .page-wrap .sidebar{
    left:0px;
  }
  
  #sidebartoggler:checked + .page-wrap .toggle{
    left:200px;
  }
  
  #sidebartoggler:checked + .page-wrap .page-content{
    padding-left: 50px;
  }
  
  