.section{
    margin: 0;
    padding: 0;
    /* background-image: url(src/assets/music.jpg); */
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;    
    height: 100vh;
}

.container{
    position: relative;
    top: 125px;
    text-align: center;
}